Repository liferay/clay, pull requests merged in 2019-07, with the labels that each got.

#2147 fix(clay-css): New SVG Icon reset
  packages/clay-css/src/images/icons/reset.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#2148 fix(clay-css): 2.x New SVG Icon reset
  packages/clay-css/src/images/icons/reset.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x, comp: clay-css

#2166 feat(clay-dropdown): add the API `useSearchableWithForm` to ClayDropdownBase
  packages/clay-dropdown/src/ClayDropdown.js
  packages/clay-dropdown/src/ClayDropdown.soy
  packages/clay-dropdown/src/ClayDropdownBase.js
  packages/clay-dropdown/src/ClayDropdownBase.soy
  packages/clay-dropdown/src/__tests__/ClayDropdownBase.js
  packages/clay-dropdown/src/__tests__/__snapshots__/ClayDropdownBase.js.snap
  packages/clay-isomorphic/fixtures/expected/ClayDropdownBase.search
  packages/clay-isomorphic/fixtures/expected/ClayDropdownBase.sections
Labels: 2.x

#2149 fix(clay-css): SVG Icons renamed `announcement`, `sticky`…
  packages/clay-css/src/images/icons/announcement.svg
  packages/clay-css/src/images/icons/bell-full.svg
  packages/clay-css/src/images/icons/megaphone-full.svg
  packages/clay-css/src/images/icons/pin-full.svg
  packages/clay-css/src/images/icons/sticky.svg
  packages/clay-css/src/images/icons/urgent.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#2192 docs(clayui.com): Icons page changed `lx-icon` to `clay-icon` and `sv…
  clayui.com/content/docs/components/icons.md
Labels: comp: clayui.com, comp: documentation

#2191 docs(next.clayui.com): Icons page changed `lx-icon` to `clay-icon` an…
  next.clayui.com/content/docs/css/components/icons.md
Labels: comp: documentation

#2188 feat(clay-css): 2.x Mixins added `clay-line-clamp` for truncating text based on number of lines
  packages/clay-css/CHANGELOG.md
  packages/clay-css/src/scss/_mixins.scss
  packages/clay-css/src/scss/mixins/_line-clamp.scss
  packages/clay-css/tasks/metalsmith.js
Labels: 2.x, comp: clay-css
