Repository liferay/clay, pull requests merged in 2019-10, with the labels that each got.

#2594 feat(clay-css): SVG Icons add Google
  packages/clay-css/src/images/icons/google.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#2595 feat(clay-css): SVG Icons add Google
  packages/clay-css/src/images/icons/google.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x, comp: clay-css

#2657 fix(clay-dropdown): allows caption to accept html and string
  packages/clay-dropdown/src/ClayActionsDropdown.js
  packages/clay-dropdown/src/ClayActionsDropdown.soy
  packages/clay-dropdown/src/ClayCreationMenuDropdown.soy
  packages/clay-dropdown/src/ClayDropdownBase.js
  packages/clay-dropdown/src/ClayDropdownBase.soy
  packages/clay-dropdown/src/__tests__/__snapshots__/ClayCreationMenuDropdown.js.snap
  packages/clay-management-toolbar/src/__tests__/__snapshots__/ClayManagementToolbar.js.snap
Labels: 2.x

#2663 chore: update linting
  .eslintrc.js
  .eslintrc.json
  package.json
  packages/clay-alert/src/__tests__/ClayAlert.tsx
  packages/clay-autocomplete/stories/index.tsx
  packages/clay-badge/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-badge/src/__tests__/index.tsx
  packages/clay-button/src/__tests__/index.tsx
  packages/clay-charts/src/__tests__/ClayCharts.tsx
  packages/clay-color-picker/src/GradientSelector.tsx
  packages/clay-data-provider/stories/index.tsx
  packages/clay-date-picker/src/DateNavigation.tsx
  packages/clay-date-picker/src/Weekday.tsx
  packages/clay-date-picker/src/__tests__/__snapshots__/BasicRendering.tsx.snap
  packages/clay-date-picker/src/__tests__/__snapshots__/IncrementalInteractions.tsx.snap
  packages/clay-date-picker/src/__tests__/__snapshots__/Internationalization.tsx.snap
  packages/clay-form/src/__tests__/Checkbox.tsx
  packages/clay-form/src/__tests__/RadioGroup.tsx
  packages/clay-form/src/__tests__/index.tsx
  packages/clay-form/stories/index.tsx
  packages/clay-icon/src/__tests__/index.tsx
  packages/clay-label/src/__tests__/index.tsx
  packages/clay-link/src/__tests__/index.tsx
  packages/clay-list/src/__tests__/index.tsx
  packages/clay-loading-indicator/src/__tests__/index.tsx
  packages/clay-management-toolbar/src/ResultsBar.tsx
  packages/clay-management-toolbar/src/__tests__/__snapshots__/BasicRendering.tsx.snap
  packages/clay-management-toolbar/stories/index.tsx
  packages/clay-modal/src/__tests__/IncrementalInteractions.tsx
  packages/clay-modal/src/__tests__/index.tsx
  packages/clay-modal/stories/index.tsx
  packages/clay-navigation-bar/stories/index.tsx
  packages/clay-panel/src/__tests__/index.tsx
  packages/clay-progress-bar/src/__tests__/index.tsx
  packages/clay-shared/src/Portal.tsx
  packages/clay-sticker/src/__tests__/index.tsx
  packages/demos/stories/ListPage.tsx
  yarn.lock
Labels: 3.x
