Repository liferay/clay, pull requests merged in 2019-05, with the labels that each got.

#1949 Clayui.com add skip to content button and clean up css
  clayui.com/src/components/Sidebar/Navigation.js
  clayui.com/src/components/Sidebar/Sidebar.js
  clayui.com/src/pages/index.js
  clayui.com/src/styles/_footer.scss
  clayui.com/src/styles/_landing.scss
  clayui.com/src/styles/site/_content-site.scss
  clayui.com/src/styles/site/_sidebar-site.scss
  clayui.com/src/templates/docs.js
Labels: 2.x, comp: clayui.com

#1926 Fixes #1922 ClayCSS Atlas Nav Tabs focus styles should match Lexicon Design
  packages/clay-css/src/content/nav_tabs.html
  packages/clay-css/src/scss/atlas/variables/_navs.scss
  packages/clay-css/src/scss/components/_navs.scss
  packages/clay-css/src/scss/variables/_navs.scss
Labels: 3.x, comp: clay-css

#1927 Fixes #1922 ClayCSS 2.x Atlas Nav Tabs focus styles should match Lexicon Design
  packages/clay-css/src/content/nav_tabs.html
  packages/clay-css/src/scss/atlas/variables/_navs.scss
  packages/clay-css/src/scss/components/_navs.scss
  packages/clay-css/src/scss/variables/_navs.scss
Labels: 2.x, comp: clay-css

#1929 Fixes #1928 ClayCSS Atlas Nav Underline focus styles should match Lexicon Design
  packages/clay-css/src/content/nav_underline.html
  packages/clay-css/src/scss/atlas/variables/_navs.scss
  packages/clay-css/src/scss/components/_navs.scss
  packages/clay-css/src/scss/variables/_navs.scss
Labels: 3.x, comp: clay-css

#1930 Fixes #1928 ClayCSS 2.x Atlas Nav Underline focus styles should match Lexicon Design
  packages/clay-css/src/content/nav_underline.html
  packages/clay-css/src/scss/atlas/variables/_navs.scss
  packages/clay-css/src/scss/components/_navs.scss
  packages/clay-css/src/scss/variables/_navs.scss
Labels: 2.x, comp: clay-css

#1932 Fixes #1931 ClayCSS Toggle Switch add focus transition
  packages/clay-css/src/scss/variables/_toggle-switch.scss
Labels: 3.x, comp: clay-css

#1933 Fixes #1931 ClayCSS 2.x Toggle Switch add focus transition
  packages/clay-css/src/scss/variables/_toggle-switch.scss
Labels: 2.x, comp: clay-css

#1934 Fixes #1546 ClayCSS Base Single collapsible panels shouldn't shift 1p…
  packages/clay-css/src/scss/components/_panels.scss
  packages/clay-css/src/scss/variables/_panels.scss
Labels: 3.x, comp: clay-css

#1935 Fixes #1546 ClayCSS Base Single collapsible panels shouldn't shift 1p…
  packages/clay-css/src/scss/components/_panels.scss
  packages/clay-css/src/scss/variables/_panels.scss
Labels: 2.x, comp: clay-css

#1937 Fixes #1936 ClayCSS Mixin `clay-dropdown-menu-variant` `padding-botto…
  packages/clay-css/src/scss/mixins/_dropdown-menu.scss
Labels: 3.x, comp: clay-css

#1938 Fixes #1936 ClayCSS Mixin `clay-dropdown-menu-variant` `padding-botto…
  packages/clay-css/src/scss/mixins/_dropdown-menu.scss
Labels: 2.x, comp: clay-css

#1950 Clayui.com prep CSS so we can toggle between Base/Atlas Theme and other fixes
  clayui.com/README.md
  clayui.com/gatsby-browser.js
  clayui.com/package.json
  clayui.com/src/components/LayoutNav/LayoutNav.js
  clayui.com/src/components/Sidebar/Navigation.js
  clayui.com/src/components/Typography/Typography.js
  clayui.com/src/html.js
  clayui.com/src/pages/index.js
  clayui.com/src/pages/try.html.js
  clayui.com/src/styles/main.scss
  clayui.com/src/templates/docs.js
  clayui.com/static/css/atlas.css
  clayui.com/static/css/atlas.css.map
  clayui.com/static/css/base.css
  clayui.com/static/css/base.css.map
  clayui.com/static/css/bootstrap.css
  clayui.com/static/css/bootstrap.css.map
  clayui.com/static/js/bootstrap.js
  clayui.com/static/js/bootstrap.js.map
  clayui.com/static/js/collapsible-search.js
  clayui.com/static/js/nav-tabs-scroll-dropdown.js
  clayui.com/static/js/popper.js
  clayui.com/static/js/popper.js.map
  clayui.com/static/js/side-navigation.js
  clayui.com/static/js/svg4everybody.js
Labels: 2.x, comp: clayui.com

#1965 Clayui.com `atlas.css` should be above `this.props.headComponents` Ga…
  clayui.com/src/html.js
  clayui.com/src/styles/main.scss
Labels: 2.x, comp: clayui.com

#1973 Fixes #1972, LEXI-576 Add ta-IN flags for Tamil using the Hindi-India…
  clayui.com/static/images/icons/flags-ta-IN.flag
  packages/clay-css/src/images/icons/flags-ta-IN.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#1974 Fixes #1972, LEXI-576 Add ta-IN flags for Tamil using the Hindi-India…
  clayui.com/static/images/icons/flags-ta-IN.flag
  packages/clay-css/src/images/icons/flags-ta-IN.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x, comp: clay-css

#1842 Fixes #1829 - Migrate ClayModal to React
  migrate-the-clay-components-from-v2-to-v3.md
  package.json
  packages/clay-button/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-button/src/__tests__/index.tsx
  packages/clay-button/src/index.tsx
  packages/clay-button/stories/index.tsx
  packages/clay-modal/README.md
  packages/clay-modal/package.json
  packages/clay-modal/src/Body.tsx
  packages/clay-modal/src/Context.ts
  packages/clay-modal/src/Footer.tsx
  packages/clay-modal/src/Header.tsx
  packages/clay-modal/src/Hook.ts
  packages/clay-modal/src/__tests__/IncrementalInteractions.tsx
  packages/clay-modal/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-modal/src/__tests__/index.tsx
  packages/clay-modal/src/index.tsx
  packages/clay-modal/src/types.ts
  packages/clay-modal/stories/index.tsx
  packages/clay-modal/tsconfig.declarations.json
  packages/clay-modal/tsconfig.json
  yarn.lock
Labels: 3.x

#1957 Fixes #1956, Fixes #1951 ClayCSS Atlas `dropdown-item` focus shouldn'…
  packages/clay-css/src/scss/atlas/variables/_dropdowns.scss
Labels: 3.x, comp: clay-css

#1958 Fixes #1956, Fixes #1951 ClayCSS 2.x Atlas `dropdown-item` focus shouldn'…
  packages/clay-css/src/scss/atlas/variables/_dropdowns.scss
Labels: 2.x, comp: clay-css

#1960 Fixes #1959, Fixes #1951 ClayCSS Atlas Navigation Bar focus styles sh…
  packages/clay-css/src/scss/atlas/variables/_navigation-bar.scss
Labels: 3.x, comp: clay-css

#1961 Fixes #1959, Fixes #1951 ClayCSS 2.x Atlas Navigation Bar focus styles sh…
  packages/clay-css/src/scss/atlas/variables/_navigation-bar.scss
Labels: 2.x, comp: clay-css

#1867 Fixes #1852 - Adds new APIs to handle DataProvider loading and error states
  packages/clay-autocomplete/demos/index.html
  packages/clay-autocomplete/package.json
  packages/clay-autocomplete/src/ClayAutocomplete.js
  packages/clay-autocomplete/src/ClayAutocomplete.soy
  packages/clay-autocomplete/src/__tests__/__snapshots__/ClayAutocomplete.js.snap
  packages/clay-button/src/ClayButton.js
  packages/clay-button/src/ClayButton.soy
  packages/clay-css/src/content/dropdowns_autocomplete.html
  packages/clay-css/src/content/form_elements_autocomplete.html
  packages/clay-css/src/content/form_elements_input_groups.html
  packages/clay-css/src/content/form_elements_multiselect.html
  packages/clay-css/src/scss/components/_forms.scss
  packages/clay-css/src/scss/components/_input-groups.scss
  packages/clay-css/src/scss/components/_utilities.scss
  packages/clay-css/src/scss/variables/_forms.scss
  packages/clay-css/src/scss/variables/_utilities.scss
  packages/clay-data-provider/src/ClayDataProvider.js
  packages/clay-data-provider/src/ClayDataProvider.soy
  packages/clay-data-provider/src/__tests__/__snapshots__/ClayDataProvider.js.snap
  packages/clay-isomorphic/fixtures/expected/ClayAutocomplete.dropdown
  packages/clay-isomorphic/fixtures/expected/ClayAutocomplete.render
  packages/clay-isomorphic/fixtures/expected/ClayDataProvider.render
  packages/clay-isomorphic/fixtures/expected/ClayFilterLabel.render
  packages/clay-isomorphic/fixtures/expected/ClayMultiSelect.content
  packages/clay-isomorphic/fixtures/expected/ClayMultiSelect.items
  packages/clay-isomorphic/fixtures/expected/ClayMultiSelect.render
  packages/clay-isomorphic/fixtures/expected/ClayResultsBar.filterLabels
  packages/clay-isomorphic/fixtures/expected/ClayResultsBar.render
  packages/clay-label/src/ClayLabel.soy
  packages/clay-label/src/__tests__/__snapshots__/ClayLabel.js.snap
  packages/clay-management-toolbar/src/__tests__/__snapshots__/ClayManagementToolbar.js.snap
  packages/clay-management-toolbar/src/__tests__/__snapshots__/ClayResultsBar.js.snap
  packages/clay-multi-select/package.json
  packages/clay-multi-select/src/ClayMultiSelect.soy
  packages/clay-multi-select/src/__tests__/__snapshots__/ClayMultiSelect.js.snap
Labels: 2.x

#1993 Fixes #1983 - Allow to have active state and uncheck elements at same time
  packages/clay-management-toolbar/demos/a11y.html
  packages/clay-management-toolbar/demos/index.html
  packages/clay-management-toolbar/src/ClayManagementToolbar.js
  packages/clay-management-toolbar/src/ClayManagementToolbar.soy
Labels: 2.x

#1991 ClayCSS 2.x use sassdoc syntax to document deprecated variables
  packages/clay-css/src/scss/atlas/variables/_alerts.scss
  packages/clay-css/src/scss/atlas/variables/_custom-forms.scss
  packages/clay-css/src/scss/atlas/variables/_globals.scss
  packages/clay-css/src/scss/atlas/variables/_labels.scss
  packages/clay-css/src/scss/atlas/variables/_navs.scss
  packages/clay-css/src/scss/atlas/variables/_pagination.scss
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_popovers.scss
  packages/clay-css/src/scss/variables/_alerts.scss
  packages/clay-css/src/scss/variables/_globals.scss
  packages/clay-css/src/scss/variables/_pagination.scss
Labels: 2.x, comp: clay-css

#1990 ClayCSS use sassdoc syntax to document deprecated variables
  packages/clay-css/src/scss/atlas/variables/_alerts.scss
  packages/clay-css/src/scss/atlas/variables/_custom-forms.scss
  packages/clay-css/src/scss/atlas/variables/_globals.scss
  packages/clay-css/src/scss/atlas/variables/_labels.scss
  packages/clay-css/src/scss/atlas/variables/_pagination.scss
  packages/clay-css/src/scss/variables/_alerts.scss
  packages/clay-css/src/scss/variables/_globals.scss
  packages/clay-css/src/scss/variables/_pagination.scss
Labels: 3.x, comp: clay-css

#1996 Fixes #1992 ClayCSS `.panel-unstyled .panel-header` should show botto…
  packages/clay-css/src/scss/variables/_panels.scss
Labels: 3.x, comp: clay-css

#1997 Fixes #1992 ClayCSS 2.x `.panel-unstyled .panel-header` should show botto…
  packages/clay-css/src/scss/variables/_panels.scss
Labels: 2.x, comp: clay-css

#2000 Fixes #1998 ClayCSS Atlas Collapsible Panel Unstyled focus border should match background color
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_sidebar.scss
  packages/clay-css/src/scss/mixins/_panels.scss
  packages/clay-css/src/scss/mixins/_sidebar.scss
Labels: 3.x, comp: clay-css

#2001 Fixes #1998 ClayCSS 2.x Atlas Collapsible Panel Unstyled focus border should match background color
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_sidebar.scss
  packages/clay-css/src/scss/mixins/_panels.scss
  packages/clay-css/src/scss/mixins/_sidebar.scss
Labels: 2.x, comp: clay-css

#2004 Fixes #2002 ClayCSS 2.x Card Interactive Primary shouldn't have focus bor…
  packages/clay-css/src/scss/variables/_cards.scss
Labels: 2.x, comp: clay-css

#2003 Fixes #2002 ClayCSS Card Interactive Primary shouldn't have focus bor…
  packages/clay-css/src/scss/variables/_cards.scss
Labels: 3.x, comp: clay-css

#2009 Fixes #2008 Fix spacer 3
  packages/clay-css/src/scss/atlas/variables/_globals.scss
Labels: 2.x, comp: clay-css

#2012 Fixes #2008 ClayCSS Fix spacer 3, changes to 1rem
  packages/clay-css/src/scss/atlas/variables/_globals.scss
Labels: 3.x, comp: clay-css

#2021 Fixes #1568, #1564 - Adds the new aspectRatioClasses API to clay-card
  packages/clay-card-grid/src/__tests__/__snapshots__/ClayCardGrid.js.snap
  packages/clay-card/src/ClayCardBase.js
  packages/clay-card/src/ClayCardBase.soy
  packages/clay-card/src/ClayFileCard.soy
  packages/clay-card/src/ClayImageCard.js
  packages/clay-card/src/ClayImageCard.soy
  packages/clay-card/src/ClayUserCard.soy
  packages/clay-card/src/__tests__/ClayImageCard.js
  packages/clay-card/src/__tests__/__snapshots__/ClayImageCard.js.snap
  packages/clay-isomorphic/fixtures/expected/ClayCardGrid.items
Labels: 2.x
