Repository liferay/clay, pull requests merged in 2019-04, with the labels that each got.

#1750 Fixes #1743 ClayCSS undo Bootstrap's `text-align: left` on the `body`…
  packages/clay-css/src/scss/components/_type.scss
  packages/clay-css/src/scss/variables/_globals.scss
Labels: 3.x, comp: clay-css

#1751 Fixes #1743 ClayCSS undo Bootstrap's `text-align: left` on the `body`…
  packages/clay-css/src/scss/components/_type.scss
  packages/clay-css/src/scss/variables/_globals.scss
Labels: 2.x, comp: clay-css

#1753 Fixes #1752 ClayCSS SVG Icons added `pin` and `unpin`
  packages/clay-css/src/images/icons/pin.svg
  packages/clay-css/src/images/icons/unpin.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#1754 Fixes #1752 ClayCSS SVG Icons added `pin` and `unpin`
  packages/clay-css/src/images/icons/pin.svg
  packages/clay-css/src/images/icons/unpin.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x, comp: clay-css

#1746 Fixes #1737 - Create checkbox component
  packages/clay-checkbox/README.md
  packages/clay-checkbox/demo/App.tsx
  packages/clay-checkbox/demo/index.html
  packages/clay-checkbox/package.json
  packages/clay-checkbox/src/ClayCheckbox.tsx
  packages/clay-checkbox/src/__tests__/ClayCheckbox.tsx
  packages/clay-checkbox/src/__tests__/__snapshots__/ClayCheckbox.tsx.snap
  packages/clay-checkbox/tsconfig.declarations.json
  packages/clay-checkbox/tsconfig.json
  packages/clay-checkbox/webpack.config.js
  yarn.lock
Labels: 3.x

#1782 Fixes #1775 ClayCSS Atlas Buttons focus styles should match Lexicon
  packages/clay-css/src/scss/atlas/variables/_buttons.scss
  packages/clay-css/src/scss/atlas/variables/_dropdowns.scss
  packages/clay-css/src/scss/atlas/variables/_links.scss
  packages/clay-css/src/scss/atlas/variables/_utilities.scss
  packages/clay-css/src/scss/mixins/_close.scss
  packages/clay-css/src/scss/mixins/_links.scss
Labels: 2.x, comp: clay-css

#1780 Fixes #1775 ClayCSS Atlas Buttons focus styles should match Lexicon
  packages/clay-css/src/scss/atlas/variables/_buttons.scss
  packages/clay-css/src/scss/atlas/variables/_dropdowns.scss
  packages/clay-css/src/scss/atlas/variables/_links.scss
  packages/clay-css/src/scss/atlas/variables/_utilities.scss
  packages/clay-css/src/scss/mixins/_close.scss
  packages/clay-css/src/scss/mixins/_links.scss
Labels: 3.x, comp: clay-css

#1807 Fixes #1785 ClayCSS Atlas 2.x Dropdown Item Focus Styles
  packages/clay-css/src/scss/atlas/variables/_dropdowns.scss
  packages/clay-css/src/scss/components/_dropdowns.scss
  packages/clay-css/src/scss/mixins/_dropdown-menu.scss
  packages/clay-css/src/scss/variables/_dropdowns.scss
Labels: 2.x, comp: clay-css

#1806 Fixes #1785 ClayCSS Atlas Dropdown Item Focus Styles
  packages/clay-css/src/scss/atlas/variables/_dropdowns.scss
  packages/clay-css/src/scss/components/_dropdowns.scss
  packages/clay-css/src/scss/mixins/_dropdown-menu.scss
  packages/clay-css/src/scss/variables/_dropdowns.scss
Labels: 3.x, comp: clay-css

#1805 Fixes #1778 ClayCSS Atlas 2.x Label Focus Styles
  packages/clay-css/src/scss/atlas/variables/_labels.scss
  packages/clay-css/src/scss/components/_labels.scss
  packages/clay-css/src/scss/mixins/_labels.scss
  packages/clay-css/src/scss/variables/_labels.scss
Labels: 2.x, comp: clay-css

#1804 Fixes #1778 ClayCSS Atlas Label Focus Styles
  packages/clay-css/src/scss/atlas/variables/_labels.scss
  packages/clay-css/src/scss/components/_labels.scss
  packages/clay-css/src/scss/mixins/_labels.scss
  packages/clay-css/src/scss/variables/_labels.scss
Labels: 3.x, comp: clay-css

#1715 Fixes #1713 ClayCSS Update User Card Icon sizing and add a 5 column grid for User Card
  packages/clay-css/src/content/cards.html
  packages/clay-css/src/content/test_card_view_template.html
  packages/clay-css/src/content/test_card_view_template_info_panel.html
  packages/clay-css/src/content/test_users_and_organizations_user_card.html
  packages/clay-css/src/scss/components/_cards.scss
  packages/clay-css/src/scss/components/_stickers.scss
  packages/clay-css/src/scss/mixins/_cards.scss
  packages/clay-css/src/scss/mixins/_grid.scss
  packages/clay-css/src/scss/variables/_cards.scss
Labels: 2.x

#1714 Fixes #1713 ClayCSS Update User Card Icon sizing and add a 5 column grid for User Card
  packages/clay-css/src/content/cards.html
  packages/clay-css/src/content/test_card_view_template.html
  packages/clay-css/src/content/test_card_view_template_info_panel.html
  packages/clay-css/src/content/test_users_and_organizations_user_card.html
  packages/clay-css/src/scss/components/_cards.scss
  packages/clay-css/src/scss/components/_stickers.scss
  packages/clay-css/src/scss/mixins/_cards.scss
  packages/clay-css/src/scss/mixins/_grid.scss
  packages/clay-css/src/scss/variables/_cards.scss
Labels: 3.x

#1781 Fixes for issue #1774 - Create radio-group component
  migrate-the-clay-components-from-v2-to-v3.md
  packages/clay-radio-group/README.md
  packages/clay-radio-group/demo/App.tsx
  packages/clay-radio-group/demo/index.html
  packages/clay-radio-group/package.json
  packages/clay-radio-group/src/ClayRadioGroup.tsx
  packages/clay-radio-group/src/__tests__/ClayRadioGroup.tsx
  packages/clay-radio-group/src/__tests__/__snapshots__/ClayRadioGroup.tsx.snap
  packages/clay-radio-group/tsconfig.declarations.json
  packages/clay-radio-group/tsconfig.json
  packages/clay-radio-group/webpack.config.js
  yarn.lock
Labels: 3.x

#1824 Fixes #1822 ClayCSS 2.x Autocomplete Dropdown Menu remove `z-index` worka…
  packages/clay-css/src/scss/variables/_dropdowns.scss
Labels: 2.x, comp: clay-css

#1823 Fixes #1822 ClayCSS Autocomplete Dropdown Menu remove `z-index` worka…
  packages/clay-css/src/scss/variables/_dropdowns.scss
Labels: 3.x, comp: clay-css

#1758 Fixes #1757 - Create @clay/label
  migrate-the-clay-components-from-v2-to-v3.md
  packages/clay-icon/src/ClayIcon.tsx
  packages/clay-icon/src/__tests__/__snapshots__/ClayIcon.tsx.snap
  packages/clay-label/README.md
  packages/clay-label/demo/App.tsx
  packages/clay-label/demo/index.html
  packages/clay-label/package.json
  packages/clay-label/src/ClayLabel.tsx
  packages/clay-label/src/__tests__/ClayLabel.tsx
  packages/clay-label/src/__tests__/__snapshots__/ClayLabel.tsx.snap
  packages/clay-label/tsconfig.declarations.json
  packages/clay-label/tsconfig.json
  packages/clay-label/webpack.config.js
Labels: 3.x

#1827 Fixes #1825 ClayCSS 2.x Stickers with Icon should be centered
  packages/clay-css/src/scss/components/_stickers.scss
Labels: 2.x, comp: clay-css

#1826 Fixes #1825 ClayCSS Stickers with Icon should be centered
  packages/clay-css/src/scss/components/_stickers.scss
Labels: 3.x, comp: clay-css

#1724 Fixes #1713 - Removes the use of text inside the Sticker in case of using the User Card
  packages/clay-card-grid/demos/a11y.html
  packages/clay-card-grid/demos/index.html
  packages/clay-card-grid/src/ClayCardGrid.soy
  packages/clay-card-grid/src/__tests__/ClayCardGrid.js
  packages/clay-card-grid/src/__tests__/__snapshots__/ClayCardGrid.js.snap
  packages/clay-card/demos/a11y.html
  packages/clay-card/demos/index.html
  packages/clay-card/src/ClayUserCard.js
  packages/clay-card/src/ClayUserCard.soy
  packages/clay-card/src/__tests__/ClayUserCard.js
  packages/clay-card/src/__tests__/__snapshots__/ClayUserCard.js.snap
  packages/clay-isomorphic/fixtures/expected/ClayCardGrid.item
  packages/clay-isomorphic/fixtures/expected/ClayCardGrid.items
  packages/clay-isomorphic/fixtures/expected/ClayUserCard.render
  packages/clay-isomorphic/fixtures/input/ClayCardGrid.items
Labels: type: breaking change

#1784 Fixes #1773 - Create ProgressBar component
  migrate-the-clay-components-from-v2-to-v3.md
  packages/clay-progress-bar/README.md
  packages/clay-progress-bar/demo/App.tsx
  packages/clay-progress-bar/demo/index.html
  packages/clay-progress-bar/package.json
  packages/clay-progress-bar/src/ClayProgressBar.tsx
  packages/clay-progress-bar/src/__tests__/ClayProgressBar.tsx
  packages/clay-progress-bar/src/__tests__/__snapshots__/ClayProgressBar.tsx.snap
  packages/clay-progress-bar/tsconfig.declarations.json
  packages/clay-progress-bar/tsconfig.json
  packages/clay-progress-bar/webpack.config.js
Labels: 3.x

#1812 Fixes #1808 - Create @clayui/sticker component
  migrate-the-clay-components-from-v2-to-v3.md
  packages/clay-sticker/README.md
  packages/clay-sticker/demo/App.tsx
  packages/clay-sticker/demo/index.html
  packages/clay-sticker/package.json
  packages/clay-sticker/src/ClaySticker.tsx
  packages/clay-sticker/src/__tests__/ClaySticker.tsx
  packages/clay-sticker/src/__tests__/__snapshots__/ClaySticker.tsx.snap
  packages/clay-sticker/tsconfig.declarations.json
  packages/clay-sticker/tsconfig.json
  packages/clay-sticker/webpack.config.js
Labels: 3.x

#1801 Fixes #1795 ClayCSS Atlas 2.x Focus Styles for Custom Input and Inputs
  packages/clay-css/src/content/dropdowns.html
  packages/clay-css/src/content/dropdowns_autocomplete.html
  packages/clay-css/src/content/form_custom.html
  packages/clay-css/src/content/form_elements_date_picker.html
  packages/clay-css/src/content/form_elements_input_groups.html
  packages/clay-css/src/content/form_validation.html
  packages/clay-css/src/content/management-bar.html
  packages/clay-css/src/content/test_card_view_template.html
  packages/clay-css/src/content/test_form_group_sm.html
  packages/clay-css/src/content/test_list_view_template.html
  packages/clay-css/src/content/test_table_view_template.html
  packages/clay-css/src/scss/atlas/variables/_buttons.scss
  packages/clay-css/src/scss/atlas/variables/_custom-forms.scss
  packages/clay-css/src/scss/atlas/variables/_forms.scss
  packages/clay-css/src/scss/atlas/variables/_globals.scss
  packages/clay-css/src/scss/components/_form-validation.scss
  packages/clay-css/src/scss/variables/_bs4-variable-overwrites.scss
  packages/clay-css/src/scss/variables/_cards.scss
  packages/clay-css/src/scss/variables/_date-picker.scss
  packages/clay-css/src/scss/variables/_forms.scss
  packages/clay-css/src/scss/variables/_toggle-switch.scss
  packages/clay-css/src/scss/variables/_utilities.scss
Labels: 2.x, comp: clay-css

#1800 Fixes #1795 ClayCSS Atlas Focus Styles for Custom Input and Inputs
  packages/clay-css/src/content/dropdowns.html
  packages/clay-css/src/content/dropdowns_autocomplete.html
  packages/clay-css/src/content/form_custom.html
  packages/clay-css/src/content/form_elements_date_picker.html
  packages/clay-css/src/content/form_elements_input_groups.html
  packages/clay-css/src/content/form_validation.html
  packages/clay-css/src/content/management-bar.html
  packages/clay-css/src/content/test_card_view_template.html
  packages/clay-css/src/content/test_form_group_sm.html
  packages/clay-css/src/content/test_list_view_template.html
  packages/clay-css/src/content/test_table_view_template.html
  packages/clay-css/src/scss/atlas/variables/_buttons.scss
  packages/clay-css/src/scss/atlas/variables/_custom-forms.scss
  packages/clay-css/src/scss/atlas/variables/_forms.scss
  packages/clay-css/src/scss/atlas/variables/_globals.scss
  packages/clay-css/src/scss/components/_form-validation.scss
  packages/clay-css/src/scss/variables/_bs4-variable-overwrites.scss
  packages/clay-css/src/scss/variables/_cards.scss
  packages/clay-css/src/scss/variables/_date-picker.scss
  packages/clay-css/src/scss/variables/_forms.scss
  packages/clay-css/src/scss/variables/_toggle-switch.scss
  packages/clay-css/src/scss/variables/_utilities.scss
Labels: 3.x, comp: clay-css

#1803 Fixes #1777 ClayCSS Atlas 2.x Application Bar, Management Bar, Navigation Bar Focus Styles
  packages/clay-css/src/scss/atlas/variables/_application-bar.scss
  packages/clay-css/src/scss/atlas/variables/_management-bar.scss
  packages/clay-css/src/scss/atlas/variables/_navigation-bar.scss
  packages/clay-css/src/scss/components/_application-bar.scss
  packages/clay-css/src/scss/components/_management-bar.scss
  packages/clay-css/src/scss/components/_navigation-bar.scss
  packages/clay-css/src/scss/mixins/_navbar.scss
  packages/clay-css/src/scss/variables/_application-bar.scss
  packages/clay-css/src/scss/variables/_management-bar.scss
  packages/clay-css/src/scss/variables/_navigation-bar.scss
Labels: 2.x, comp: clay-css

#1802 Fixes #1777 ClayCSS Atlas Application Bar, Management Bar, Navigation Bar Focus Styles
  packages/clay-css/src/scss/atlas/variables/_application-bar.scss
  packages/clay-css/src/scss/atlas/variables/_management-bar.scss
  packages/clay-css/src/scss/atlas/variables/_navigation-bar.scss
  packages/clay-css/src/scss/components/_application-bar.scss
  packages/clay-css/src/scss/components/_management-bar.scss
  packages/clay-css/src/scss/components/_navigation-bar.scss
  packages/clay-css/src/scss/mixins/_navbar.scss
  packages/clay-css/src/scss/variables/_application-bar.scss
  packages/clay-css/src/scss/variables/_management-bar.scss
  packages/clay-css/src/scss/variables/_navigation-bar.scss
Labels: 3.x, comp: clay-css

#1820 Fixes #1815 ClayCSS Multi Step Nav should have focus styles
  packages/clay-css/src/content/multi_step_nav.html
  packages/clay-css/src/scss/components/_multi-step-nav.scss
  packages/clay-css/src/scss/variables/_multi-step-nav.scss
Labels: 3.x, comp: clay-css

#1821 Fixes #1815 ClayCSS 2.x Multi Step Nav should have focus styles
  packages/clay-css/src/content/multi_step_nav.html
  packages/clay-css/src/scss/components/_multi-step-nav.scss
  packages/clay-css/src/scss/variables/_multi-step-nav.scss
Labels: 2.x, comp: clay-css

#1830 Fixes #1828 ClayCSS Collapsible Panels added focus styles
  packages/clay-css/src/content/panels.html
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_sheets.scss
  packages/clay-css/src/scss/components/_panels.scss
  packages/clay-css/src/scss/components/_sheets.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/mixins/_panels.scss
  packages/clay-css/src/scss/variables/_panels.scss
  packages/clay-css/src/scss/variables/_sheets.scss
Labels: 3.x, comp: clay-css

#1831 Fixes #1828 ClayCSS 2.x Collapsible Panels added focus styles
  packages/clay-css/src/content/panels.html
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_sheets.scss
  packages/clay-css/src/scss/components/_panels.scss
  packages/clay-css/src/scss/components/_sheets.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/mixins/_panels.scss
  packages/clay-css/src/scss/variables/_panels.scss
  packages/clay-css/src/scss/variables/_sheets.scss
Labels: 2.x, comp: clay-css

#1844 Fixes #1841 ClayCSS 2.x Utilities added `.inline-group`, `.inline-group-before`, `.inline-group-after` as an option for those that don't want to remove white space
  packages/clay-css/src/content/test_table_custom_field_list.html
  packages/clay-css/src/content/utilities.html
  packages/clay-css/src/scss/components/_utilities.scss
Labels: 2.x, comp: clay-css

#1843 Fixes #1841 ClayCSS Utilities added `.inline-group`, `.inline-group-before`, `.inline-group-after` as an option for those that don't want to remove white space
  packages/clay-css/src/content/test_table_custom_field_list.html
  packages/clay-css/src/content/utilities.html
  packages/clay-css/src/scss/components/_utilities.scss
Labels: 3.x, comp: clay-css

#1814 Fixes #1810 ClayCSS Atlas 2.x Date Picker Focus Styles
  packages/clay-css/src/index.md
  packages/clay-css/src/scss/atlas/variables/_date-picker.scss
  packages/clay-css/src/scss/mixins/_buttons.scss
  packages/clay-css/src/scss/site/_site.scss
  packages/clay-css/src/scss/variables/_date-picker.scss
  packages/clay-css/templates/includes/footer.ejs
  packages/clay-css/templates/includes/header.ejs
  packages/clay-css/templates/includes/site_config.ejs
Labels: 2.x, comp: clay-css

#1813 Fixes #1810 ClayCSS Atlas Date Picker Focus Styles
  packages/clay-css/src/index.md
  packages/clay-css/src/scss/atlas/variables/_date-picker.scss
  packages/clay-css/src/scss/mixins/_buttons.scss
  packages/clay-css/src/scss/site/_site.scss
  packages/clay-css/src/scss/variables/_date-picker.scss
  packages/clay-css/templates/includes/footer.ejs
  packages/clay-css/templates/includes/header.ejs
  packages/clay-css/templates/includes/site_config.ejs
Labels: 3.x, comp: clay-css

#1846 Fixes #1616, Fixes #1783 ClayCSS Atlas Links should match Lexicon foc…
  packages/clay-css/src/scss/atlas/variables/_links.scss
Labels: 3.x, comp: clay-css

#1847 Fixes #1616, Fixes #1783 ClayCSS Atlas Links should match Lexicon foc…
  packages/clay-css/src/scss/atlas/variables/_links.scss
Labels: 2.x, comp: clay-css

#1848 Fixes #1616, Fixes #1776 ClayCSS Atlas Table links should match Lexic…
  packages/clay-css/src/scss/atlas/variables/_buttons.scss
  packages/clay-css/src/scss/atlas/variables/_tables.scss
Labels: 3.x, comp: clay-css

#1849 Fixes #1616, Fixes #1776 ClayCSS Atlas 2.x Table links should match Lexic…
  packages/clay-css/src/scss/atlas/variables/_buttons.scss
  packages/clay-css/src/scss/atlas/variables/_tables.scss
Labels: 2.x, comp: clay-css

#1856 Fixes #1855 ClayCSS Stickers that are `display: inline-block` with ic…
  packages/clay-css/src/scss/components/_stickers.scss
Labels: 2.x, comp: clay-css

#1859 Fixes #1858 - Create loading indicator component.
  packages/clay-loading-indicator/README.md
  packages/clay-loading-indicator/demo/App.tsx
  packages/clay-loading-indicator/demo/index.html
  packages/clay-loading-indicator/package.json
  packages/clay-loading-indicator/src/ClayLoadingIndicator.tsx
  packages/clay-loading-indicator/src/__tests__/ClayLoadingIndicator.tsx
  packages/clay-loading-indicator/src/__tests__/__snapshots__/ClayLoadingIndicator.tsx.snap
  packages/clay-loading-indicator/tsconfig.declarations.json
  packages/clay-loading-indicator/tsconfig.json
  packages/clay-loading-indicator/webpack.config.js
Labels: 3.x

#1881 Revert "Merge pull request #1843 from pat270/clay-1841"
  packages/clay-css/src/content/test_table_custom_field_list.html
  packages/clay-css/src/content/utilities.html
  packages/clay-css/src/scss/components/_utilities.scss
Labels: 3.x, comp: clay-css

#1882 Revert "Merge pull request #1844 from pat270/clay-1841-2x"
  packages/clay-css/src/content/test_table_custom_field_list.html
  packages/clay-css/src/content/utilities.html
  packages/clay-css/src/scss/components/_utilities.scss
Labels: 2.x, comp: clay-css

#1878 Fixes #1835 - Add test suite to DatePicker
  babel.config.js
  package.json
  packages/clay-date-picker/src/DateNavigation.tsx
  packages/clay-date-picker/src/Dropdown.tsx
  packages/clay-date-picker/src/Select.tsx
  packages/clay-date-picker/src/TimePicker.tsx
  packages/clay-date-picker/src/__tests__/BasicRendering.tsx
  packages/clay-date-picker/src/__tests__/IncrementalInteractions.tsx
  packages/clay-date-picker/src/__tests__/Internationalization.tsx
  packages/clay-date-picker/src/__tests__/__snapshots__/BasicRendering.tsx.snap
  packages/clay-date-picker/src/__tests__/__snapshots__/IncrementalInteractions.tsx.snap
  packages/clay-date-picker/src/__tests__/__snapshots__/Internationalization.tsx.snap
  packages/clay-date-picker/src/index.tsx
  packages/clay-time-picker/src/index.tsx
  yarn.lock
Labels: 3.x

#1857 Clay Color picker
  package.json
  packages/clay-color-picker/README.md
  packages/clay-color-picker/package.json
  packages/clay-color-picker/src/Basic.tsx
  packages/clay-color-picker/src/Custom.tsx
  packages/clay-color-picker/src/GradientSelector.tsx
  packages/clay-color-picker/src/Hue.tsx
  packages/clay-color-picker/src/Splotch.tsx
  packages/clay-color-picker/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-color-picker/src/__tests__/index.tsx
  packages/clay-color-picker/src/hooks.ts
  packages/clay-color-picker/src/index.tsx
  packages/clay-color-picker/src/util.ts
  packages/clay-color-picker/stories/index.tsx
  packages/clay-color-picker/tsconfig.declarations.json
  packages/clay-color-picker/tsconfig.json
  packages/clay-css/src/content/form_elements_color_picker.html
  packages/clay-css/src/scss/_components.scss
  packages/clay-css/src/scss/_variables.scss
  packages/clay-css/src/scss/atlas/_variables.scss
  packages/clay-css/src/scss/atlas/variables/_clay-color.scss
  packages/clay-css/src/scss/components/_clay-color.scss
  packages/clay-css/src/scss/components/_input-groups.scss
  packages/clay-css/src/scss/mixins/_buttons.scss
  packages/clay-css/src/scss/mixins/_close.scss
  packages/clay-css/src/scss/mixins/_forms.scss
  packages/clay-css/src/scss/mixins/_grid.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/variables/_clay-color.scss
  yarn.lock
Labels: 3.x, comp: clay-components

#1874 Fixes #1872 ClayCSS 2.x Card set `background-color` and `border-width` on…
  packages/clay-css/src/scss/components/_cards.scss
Labels: 2.x, comp: clay-css

#1877 Fixes #1875 Card Type Template and Template Card should reset styles from other cards
  packages/clay-card-grid/src/__tests__/__snapshots__/ClayCardGrid.js.snap
  packages/clay-card/src/ClayFileCard.soy
  packages/clay-card/src/ClayImageCard.soy
  packages/clay-card/src/ClayUserCard.soy
  packages/clay-card/src/__tests__/__snapshots__/ClayFileCard.js.snap
  packages/clay-card/src/__tests__/__snapshots__/ClayImageCard.js.snap
  packages/clay-card/src/__tests__/__snapshots__/ClayUserCard.js.snap
  packages/clay-css/src/content/badges_and_labels.html
  packages/clay-css/src/content/card_interactive.html
  packages/clay-css/src/content/cards.html
  packages/clay-css/src/content/images_aspect_ratio.html
  packages/clay-css/src/content/sidebar.html
  packages/clay-css/src/content/test_card_custom_fields_view.html
  packages/clay-css/src/content/test_card_type_template.html
  packages/clay-css/src/content/test_card_view_template.html
  packages/clay-css/src/content/test_card_view_template_info_panel.html
  packages/clay-css/src/content/test_list_view_template.html
  packages/clay-css/src/content/test_list_view_template_info_panel.html
  packages/clay-css/src/content/test_table_view_template.html
  packages/clay-css/src/content/test_table_view_template_info_panel.html
  packages/clay-css/src/content/test_users_and_organizations_user_card.html
  packages/clay-css/src/scss/atlas/variables/_cards.scss
  packages/clay-css/src/scss/mixins/_aspect-ratio.scss
  packages/clay-css/src/scss/mixins/_cards.scss
  packages/clay-css/src/scss/variables/_cards.scss
  packages/clay-isomorphic/fixtures/expected/ClayCardGrid.items
  packages/clay-isomorphic/fixtures/expected/ClayFileCard.render
  packages/clay-isomorphic/fixtures/expected/ClayImageCard.render
  packages/clay-isomorphic/fixtures/expected/ClayUserCard.render
Labels: 2.x, comp: clay-components, comp: clay-css

#1880 Fixes #1850 ClayCSS Atlas 2.x List Group links should match Lexicon Focus Style
  packages/clay-css/src/content/list_groups.html
  packages/clay-css/src/content/test_list_view_template.html
  packages/clay-css/src/content/test_list_view_template_info_panel.html
  packages/clay-css/src/scss/atlas/variables/_list-group.scss
Labels: 2.x, comp: clay-css

#1886 Fixes #1885 ClayCSS 2.x port over updates and fixes from #1756
  packages/clay-css/src/scss/components/_input-groups.scss
  packages/clay-css/src/scss/mixins/_buttons.scss
  packages/clay-css/src/scss/mixins/_close.scss
  packages/clay-css/src/scss/mixins/_forms.scss
  packages/clay-css/src/scss/mixins/_grid.scss
  packages/clay-css/src/scss/mixins/_links.scss
Labels: 2.x, comp: clay-css

#1889 Fixes #1883 ClayCSS Dropdown Menu Firefox doesn't respect `padding-bo…
  packages/clay-css/src/scss/components/_dropdowns.scss
Labels: 2.x, comp: clay-css

#1873 Fixes #1872 ClayCSS Card set `background-color` and `border-width` on…
  packages/clay-css/src/scss/components/_cards.scss
Labels: 3.x, comp: clay-css

#1879 Fixes #1850 ClayCSS Atlas List Group links should match Lexicon Focus Style
  packages/clay-css/src/content/list_groups.html
  packages/clay-css/src/content/test_list_view_template.html
  packages/clay-css/src/content/test_list_view_template_info_panel.html
  packages/clay-css/src/scss/atlas/variables/_list-group.scss
Labels: 3.x, comp: clay-css

#1887 Fixes #1852 ClayCSS Autocomplete and Multiselect Loading Animations
  packages/clay-css/src/content/dropdowns_autocomplete.html
  packages/clay-css/src/content/form_elements_autocomplete.html
  packages/clay-css/src/content/form_elements_input_groups.html
  packages/clay-css/src/content/form_elements_multiselect.html
  packages/clay-css/src/scss/components/_forms.scss
  packages/clay-css/src/scss/components/_input-groups.scss
  packages/clay-css/src/scss/components/_utilities.scss
  packages/clay-css/src/scss/variables/_forms.scss
  packages/clay-css/src/scss/variables/_utilities.scss
Labels: 3.x, comp: clay-css

#1888 Fixes #1883 ClayCSS Dropdown Menu Firefox doesn't respect `padding-bo…
  packages/clay-css/src/scss/components/_dropdowns.scss
Labels: 3.x, comp: clay-css

#1876 Fixes #1875 Card Type Template and Template Card should reset styles from other cards
  packages/clay-css/src/content/badges_and_labels.html
  packages/clay-css/src/content/card_interactive.html
  packages/clay-css/src/content/cards.html
  packages/clay-css/src/content/images_aspect_ratio.html
  packages/clay-css/src/content/sidebar.html
  packages/clay-css/src/content/test_card_custom_fields_view.html
  packages/clay-css/src/content/test_card_type_template.html
  packages/clay-css/src/content/test_card_view_template.html
  packages/clay-css/src/content/test_card_view_template_info_panel.html
  packages/clay-css/src/content/test_list_view_template.html
  packages/clay-css/src/content/test_list_view_template_info_panel.html
  packages/clay-css/src/content/test_table_view_template.html
  packages/clay-css/src/content/test_table_view_template_info_panel.html
  packages/clay-css/src/content/test_users_and_organizations_user_card.html
  packages/clay-css/src/scss/atlas/variables/_cards.scss
  packages/clay-css/src/scss/mixins/_aspect-ratio.scss
  packages/clay-css/src/scss/mixins/_cards.scss
  packages/clay-css/src/scss/variables/_cards.scss
Labels: 3.x, comp: clay-css

#1894 Fixes #1834 - Update deployment clayui.com
  clayui.com/README.md
  clayui.com/package.json
  clayui.com/static/wedeploy.json
Labels: 2.x

#1892 Fixes #1891 - Render a closeable clay-label with link correctly
  packages/clay-label/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-label/src/__tests__/index.tsx
  packages/clay-label/src/index.tsx
  packages/clay-label/stories/index.tsx
Labels: 3.x

#1902 Fixes #1834 - Add CNAME
  clayui.com/static/CNAME
Labels: 2.x

#1910 Fixes #1909 ClayCSS SVG Icons added new icon `minus-circle`
  packages/clay-css/src/images/icons/minus-circle.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#1911 Fixes #1909 ClayCSS 2.x SVG Icons added new icon `minus-circle`
  packages/clay-css/src/images/icons/minus-circle.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x, comp: clay-css

#1907 Fixes #1904 ClayCSS Pagination focus styles should match Lexicon
  packages/clay-css/src/content/paginations.html
  packages/clay-css/src/scss/atlas/variables/_pagination.scss
  packages/clay-css/src/scss/components/_pagination.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/variables/_pagination.scss
Labels: 3.x, comp: clay-css

#1908 Fixes #1904 ClayCSS 2.x Pagination focus styles should match Lexicon
  packages/clay-css/src/content/paginations.html
  packages/clay-css/src/scss/atlas/variables/_pagination.scss
  packages/clay-css/src/scss/components/_pagination.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/variables/_pagination.scss
Labels: 2.x, comp: clay-css

#1914 Fixes #1913 ClayCSS Atlas Breadcrumb focus styles should match Lexicon
  packages/clay-css/src/scss/atlas/variables/_breadcrumbs.scss
  packages/clay-css/src/scss/components/_breadcrumbs.scss
  packages/clay-css/src/scss/variables/_breadcrumbs.scss
Labels: 3.x, comp: clay-css

#1915 Fixes #1913 ClayCSS 2.x Atlas Breadcrumb focus styles should match Lexicon
  packages/clay-css/src/scss/atlas/variables/_breadcrumbs.scss
  packages/clay-css/src/scss/components/_breadcrumbs.scss
  packages/clay-css/src/scss/variables/_breadcrumbs.scss
Labels: 2.x, comp: clay-css

#1920 Fixes #1919 ClayCSS Panels move `.panel-header-link` and `a.sheet-sub…
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_sheets.scss
  packages/clay-css/src/scss/variables/_panels.scss
  packages/clay-css/src/scss/variables/_sheets.scss
Labels: 3.x, comp: clay-css

#1921 Fixes #1919 ClayCSS 2.x Panels move `.panel-header-link` and `a.sheet-sub…
  packages/clay-css/src/scss/atlas/variables/_panels.scss
  packages/clay-css/src/scss/atlas/variables/_sheets.scss
  packages/clay-css/src/scss/variables/_panels.scss
  packages/clay-css/src/scss/variables/_sheets.scss
Labels: 2.x, comp: clay-css

#1918 Fixes #1916 ClayCSS 2.x Atlas Menubar Focus Styles
  packages/clay-css/src/scss/atlas/variables/_menubar.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/mixins/_menubar.scss
Labels: 2.x, comp: clay-css

#1917 Fixes #1916 ClayCSS Atlas Menubar Focus Styles
  packages/clay-css/src/scss/atlas/variables/_menubar.scss
  packages/clay-css/src/scss/mixins/_links.scss
  packages/clay-css/src/scss/mixins/_menubar.scss
Labels: 3.x, comp: clay-css

#1816 Fixes #1709 - Migrate ClayAlert to React
  migrate-the-clay-components-from-v2-to-v3.md
  packages/clay-alert/README.md
  packages/clay-alert/package.json
  packages/clay-alert/src/__tests__/ClayAlert.tsx
  packages/clay-alert/src/__tests__/__snapshots__/ClayAlert.tsx.snap
  packages/clay-alert/src/index.tsx
  packages/clay-alert/stories/index.tsx
  packages/clay-alert/tsconfig.declarations.json
  packages/clay-alert/tsconfig.json
Labels: 3.x
