Repository liferay/clay, pull requests merged in 2019-08, with the labels that each got.

#2262 feat(clay-css): new SVG Icon test
  packages/clay-css/src/images/icons/test.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x

#2263 feat(clay-css): new SVG Icon test
  packages/clay-css/src/images/icons/test.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x

#2266 feat(clay-css): add new SVG icons `arrow-end`, `arrow-join`, `arrow-split`, `arrow-start`, `arrow-xor`, `circle`, `diamond` and `square`
  packages/clay-css/src/images/icons/arrow-end.svg
  packages/clay-css/src/images/icons/arrow-join.svg
  packages/clay-css/src/images/icons/arrow-split.svg
  packages/clay-css/src/images/icons/arrow-start.svg
  packages/clay-css/src/images/icons/arrow-xor.svg
  packages/clay-css/src/images/icons/circle.svg
  packages/clay-css/src/images/icons/diamond.svg
  packages/clay-css/src/images/icons/square.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x

#2265 feat(@clayui/css): add new SVG icons `arrow-end`, `arrow-join`, `arrow-split`, `arrow-start`, `arrow-xor`, `circle`, `diamond` and `square`
  packages/clay-css/src/images/icons/arrow-end.svg
  packages/clay-css/src/images/icons/arrow-join.svg
  packages/clay-css/src/images/icons/arrow-split.svg
  packages/clay-css/src/images/icons/arrow-start.svg
  packages/clay-css/src/images/icons/arrow-xor.svg
  packages/clay-css/src/images/icons/circle.svg
  packages/clay-css/src/images/icons/diamond.svg
  packages/clay-css/src/images/icons/square.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x

#2273 fix(clayui.com): stop refresh loop when accessing documentation
  clayui.com/package.json
  clayui.com/yarn.lock
Labels: 2.x

#2272 fix(clay-multi-select): HTML escape to prevent XSS attack for multiselect
  packages/clay-multi-select/src/ClayMultiSelect.js
  packages/clay-multi-select/src/htmlEscape.js
Labels: 2.x

#2291 feat(clay-css): Create slider component
  packages/clay-css/src/content/form_elements_range.html
  packages/clay-css/src/scss/_components.scss
  packages/clay-css/src/scss/_variables.scss
  packages/clay-css/src/scss/atlas/_variables.scss
  packages/clay-css/src/scss/atlas/variables/_range.scss
  packages/clay-css/src/scss/components/_range.scss
  packages/clay-css/src/scss/components/_tooltip.scss
  packages/clay-css/src/scss/functions/_global-functions.scss
  packages/clay-css/src/scss/mixins/_forms.scss
  packages/clay-css/src/scss/variables/_range.scss
Labels: 3.x, comp: clay-css

#2305 feat(clay-css): Clay Time add focus styles for hours, minutes, seconds, etc
  packages/clay-css/src/scss/mixins/_forms.scss
  packages/clay-css/src/scss/variables/_time.scss
Labels: 3.x, comp: clay-css

#2306 feat(clay-css): 2.x Clay Time add focus styles for hours, minutes, seconds, etc
  packages/clay-css/src/scss/mixins/_forms.scss
  packages/clay-css/src/scss/variables/_time.scss
Labels: 2.x, comp: clay-css

#2302 fix(clay-css): Table Header (th) should be aligned left by default in…
  packages/clay-css/src/scss/components/_tables.scss
Labels: 3.x, comp: clay-css

#2303 fix(clay-css): 2.x Table Header (th) should be aligned left by default in…
  packages/clay-css/src/scss/components/_tables.scss
Labels: 2.x, comp: clay-css

#2307 fix(clay-css): Nav `.nav-justified` should work with `button`
  packages/clay-css/src/scss/components/_navs.scss
Labels: 3.x, comp: clay-css

#2308 fix(clay-css): 2.x Nav `.nav-justified` should work with `button`
  packages/clay-css/src/scss/components/_navs.scss
Labels: 2.x, comp: clay-css

#2321 feat(clay-css): add new change-list-disabled SVG icon
  packages/clay-css/src/images/icons/change-list-disabled.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 3.x, comp: clay-css

#2322 feat(clay-css): 2.x add new change-list-disabled SVG icon
  packages/clay-css/src/images/icons/change-list-disabled.svg
  packages/clay-css/src/scss/functions/_global-functions.scss
Labels: 2.x, comp: clay-css

#2326 feat(clay-css): Add usable mixins from bourbon under `_vendor-prefixes.scss`
  packages/clay-css/src/scss/_mixins.scss
  packages/clay-css/src/scss/mixins/_vendor-prefixes.scss
  packages/clay-css/tasks/metalsmith.js
Labels: 3.x, comp: clay-css

#2325 feat(clay-css): 2.x Add usable mixins from bourbon under `_vendor-prefixes.scss`
  packages/clay-css/src/scss/_mixins.scss
  packages/clay-css/src/scss/mixins/_vendor-prefixes.scss
  packages/clay-css/tasks/metalsmith.js
Labels: 2.x, comp: clay-css

#2327 feat(clay-css): 2.x Create Slider component
  packages/clay-css/src/content/form_elements_range.html
  packages/clay-css/src/scss/_components.scss
  packages/clay-css/src/scss/_variables.scss
  packages/clay-css/src/scss/atlas/_variables.scss
  packages/clay-css/src/scss/atlas/variables/_range.scss
  packages/clay-css/src/scss/components/_range.scss
  packages/clay-css/src/scss/components/_tooltip.scss
  packages/clay-css/src/scss/functions/_global-functions.scss
  packages/clay-css/src/scss/mixins/_forms.scss
  packages/clay-css/src/scss/variables/_range.scss
Labels: 2.x, comp: clay-css

#2329 fix(clay-css): Atlas Form Validation `.form-feedback-item` and `.form…
  packages/clay-css/src/scss/atlas/variables/_forms.scss
Labels: 3.x, comp: clay-css

#2330 fix(clay-css): 2.x Atlas Form Validation `.form-feedback-item` and `.form…
  packages/clay-css/src/scss/atlas/variables/_forms.scss
Labels: 2.x, comp: clay-css
