Repository liferay/clay, pull requests merged in 2022-03, with the labels that each got.

#4691 fix(@clayui/color-picker): Current colour persist and Hue component synchronization
  packages/clay-color-picker/src/Custom.tsx
  packages/clay-color-picker/src/__tests__/index.tsx
  packages/clay-color-picker/src/hooks.ts
  packages/clay-color-picker/src/index.tsx
  packages/clay-color-picker/stories/index.tsx
Labels: type: bug, comp: clay-components

#4745 chore: add CI with GitHub Actions
  .github/workflows/main.yml
  .travis.yml
  packages/clay-isomorphic/build.gradle
  packages/clay-isomorphic/gradle/wrapper/gradle-wrapper.properties
Labels: 2.x

#4781 feat(@clayui/color-picker): Add more test cases in color-picker
  packages/clay-color-picker/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-color-picker/src/__tests__/index.tsx
Labels: type: enhancement, comp: clay-components

#4782 fix(@clayui/navigator-bar): Long text in Item is truncated
  packages/clay-css/src/scss/cadmin/components/_navbar.scss
  packages/clay-css/src/scss/components/_navbar.scss
  packages/clay-navigation-bar/docs/index.js
  packages/clay-navigation-bar/docs/navigation-bar.mdx
  packages/clay-navigation-bar/src/Item.tsx
  packages/clay-navigation-bar/src/__tests__/__snapshots__/index.tsx.snap
  packages/clay-navigation-bar/src/__tests__/index.tsx
  packages/clay-navigation-bar/stories/index.tsx
Labels: type: bug, comp: clay-components, 3.x
